@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-lg md:text-xl;
  }
}
@layer components {
  .typewriter {
    border-right: 0.15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    letter-spacing: 0.15em;
  }
  .animateSlide {
    animation: slide 10.5s steps(3) infinite;
  }
  .animateBlink {
    animation: blink-caret 0.75s step-end infinite;
  }
  .animateTyping {
    animation: typing 3.5s steps(19, end) infinite;
  }
  .typeEffect {
    animation: typing 10.5s steps(19, end) infinite,
      blink-caret 0.75s step-end infinite;
  }
  .typeEffect-2 {
    animation: typing 3.5s steps(19, end) infinite,
      blink-caret 0.75s step-end infinite;
  }
  .typeEffect-3 {
    animation: typing 3.5s steps(19, end) infinite,
      blink-caret 0.75s step-end infinite;
  }
  /* The typing effect */
  @keyframes typing {
    0%,
    33%,
    66%,
    100% {
      width: 0px;
    }
    7.5%,
    25.5% {
      width: 274px;
    }
    40.5%,
    58.5% {
      width: 245px;
    }
    73.5%,
    91.5% {
      width: 178px;
    }
  }

  @keyframes slide {
    100% {
      top: -96px;
    }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: orange;
    }
  }
}
