@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth scroll-pt-16;
  }
  body {
    @apply font-sans text-lg md:text-xl bg-shade0 text-shade8;
  }
  input,
  textarea {
    @apply px-2 py-1 focus:pl-4 transition-all text-base border border-shade8 rounded-lg hover:bg-blueOpaque focus:bg-blue focus:text-shade0;
  }
  input::placeholder,
  textarea::placeholder {
    @apply text-shade8 opacity-60 hover:text-shade0 focus:text-shade0;
  }
  input:focus::placeholder, textarea:focus::placeholder {
    @apply text-shade0;
  }
  textarea:focus,
  input:focus {
    outline: none;
  }
}
@layer components {
  .btn-primary {
    @apply border-shade8 border-2 px-6 py-2 rounded-lg text-base hover:bg-blue hover:text-shade0 hover:border-shade0 transition-all;
  }
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[#4dc9e6] to-[#210cae];
  }
  .projWrap:nth-child(odd) video {
    grid-area: 1 / 1 / 7 / 8;
    @apply animateFadeinLeft;
  }
  .projWrap:nth-child(even) video {
    grid-area: 1 / 6 / 7 / 13;
    @apply animateFadeinRight;
  }
  .projWrap:nth-child(odd) .projData {
    grid-area: 2 / 7 / 7 / 13;
    @apply text-left md:text-right animateFadeinRight;
  }
  .projWrap:nth-child(even) .projData {
    grid-area: 2 / 1 / 7 / 7;
    @apply animateFadeinLeft;
  }
  .projWrap:nth-child(odd) .projTech {
    @apply justify-start md:justify-end;
  }
  .projWrap:nth-child(odd) .projLinks {
    @apply justify-end;
  }
  .projWrap:nth-child(even) .projLinks {
    @apply justify-end md:justify-start;
  }
  .typewriter {
    @apply border-shade5 border-r-[0.15em] border-solid whitespace-nowrap;
  }
  .typeEffect {
    animation: typing 10.5s steps(19, end) infinite,
      blink-caret 0.75s step-end infinite;
  }
  .animateSlide {
    animation: slide 10.5s steps(3) infinite;
  }
  .animateFadeinUp {
    animation: fade-in-up 400ms ease-in-out forwards;
  }
  .animateFadeinDown {
    animation: fade-in-down 400ms ease-in-out forwards;
  }
  .animateFadeinLeft {
    animation: fade-in-left 400ms ease-in-out forwards;
  }
  .animateFadeinRight {
    animation: fade-in-right 400ms ease-in-out forwards;
  }
  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fade-in-down {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fade-in-left {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes fade-in-right {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes typing {
    0%,
    33%,
    66%,
    100% {
      width: 0em;
    }
    7.5%,
    25.5% {
      width: 10.8em;
    }
    40.5%,
    58.5% {
      width: 9.8em;
    }
    73.5%,
    91.5% {
      width: 7.1em;
    }
  }

  @keyframes slide {
    100% {
      top: -96px;
    }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from,
    to {
      @apply border-transparent;
    }
    50% {
      @apply border-shade5;
    }
  }
}

@layer utilities {
  .delay0 {
    animation-delay: 0ms;
  }
  .delay100 {
    animation-delay: 100ms;
  }
  .delay200 {
    animation-delay: 200ms;
  }
  .delay300 {
    animation-delay: 300ms;
  }
  .delay400 {
    animation-delay: 400ms;
  }
  .delay500 {
    animation-delay: 500ms;
  }
  .delay600 {
    animation-delay: 600ms;
  }
  .delay700 {
    animation-delay: 700ms;
  }
  .delay800 {
    animation-delay: 800ms;
  }
  .delay900 {
    animation-delay: 900ms;
  }
  .delay1000 {
    animation-delay: 1000ms;
  }
  .delay1200 {
    animation-delay: 1200ms;
  }
}
